/* FORM */

.item-submission {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-name-container,
#item-quantity-container {
  display: flex;
  gap: 0.5rem;
}

.item-submission input,
#select-unit {
  box-sizing: border-box;
  height: 2.5rem;
  border-radius: 6px;
  text-indent: 8px;
  border: 1px solid;
  flex: 1;
}

.add-item {
  height: 2.5rem;
  width: 150px;
  border-radius: 6px;
  display: block;
  margin: 1rem auto;
}

/* INPUT ERROR */

input.error {
  border: 2px solid brown;
}

.input-error {
  color: brown;
  font-weight: 700;
  display: none;
}

/* LIST */

.list-container {
  border: 2px solid;
  border-radius: 6px;
  min-height: 100px;
  width: 500px;
}

.list-container h2 {
  text-align: center;
}

.list-container li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0;
}

.checked {
  text-decoration: line-through;
  background-color: aquamarine;
}

.list-element-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list-name-container {
  display: flex;
  gap: 8px;
}

/* ACTIONS */

button[data-action="save"] {
  background: none;
  border: none;
  cursor: pointer;
}

/* DROPDOWNS */

.dropdown button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  border: 1px solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: aliceblue;
  z-index: 1;
  display: none;
}

.dropdown-menu button {
  display: flex;
  gap: 8px;
}

.dropdown-menu.active {
  display: flex;
  flex-direction: column;
}

/* ACTION ICONS */

img {
  width: 25px;
  margin: 0 1rem;
}

/* TOGGLE EDITING MODE */

/* NOT EDITING */

.edit-item-name,
.edit-item-quantity,
.edit-item-unit,
button[data-action="save"] {
  display: none;
}

/* EDITING */

.is-editing .item-name,
.is-editing .item-quantity,
.is-editing .item-unit,
.is-editing .dropdown {
  display: none;
}

.is-editing .edit-item-name,
.is-editing .edit-item-quantity,
.is-editing .edit-item-unit,
.is-editing button[data-action="save"] {
  display: flex;
}
